@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Open+Sans&display=swap');
#content {
    max-width: 2000px;
    margin: 0 auto;
}
body {
    background: linear-gradient(55deg, #8c31d8 0%, #FFCA3A 51%, #8c31d8 150%);
    font-family:'Open sans',Helvetica,sans-serif;
    font-size: 30px;
    padding: 40px;
}
header {
    background-color:#8AC926; 
    display: grid;
    grid-template-columns:auto 150px;
}
.logo {
    width: 100px;
}
nav a {
    text-align:center;
    color:#0a3c5b;
    text-decoration:wavy;
    padding:1em;
    min-width: 120px;
    padding: 10px;
}
nav a:hover {
    background-color: #FF595E;
    color:white;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.book {
    background-color:#8AC926; 
    color:#6A4C93;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: Coiny, fantasy;
}
.book:hover {
    background-color:#6A4C93; 
    color:#8AC926;
}
nav {
    display: flex;
    justify-content: space-around;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    font-family: Coiny, fantasy;
}
#musicdirectorimage {
    width: 100%;
    border: 30px solid #FF595E;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 7fr 1fr 1fr;
    grid-template-rows: 2fr 15fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 2/5;
    grid-row: 2/4;
    z-index: -1;
}
#hero-msg {
    grid-column: 3/4;
    grid-row: 5/6;
    margin-top: 100px;
    background-color: #096641;
    text-align: center;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 2fr 70px;
}
#hero-msg h4{
    padding-left: 40px;
    padding-right:40px;
    grid-column: 1/3;
    grid-row: 2/3;
}
.home-title{
    text-align: center;
    font-family: Coiny, fantasy;
    color:#000;
    grid-column: 1/3;
    grid-row: 1/2;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10px 1fr 5fr;
}
.home-grid h1{
    font-family: Coiny, fantasy;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
}
.home-grid .comment{
    grid-column: 3/4;
    grid-row: 2/3;
}
.general-questions{
    grid-column: 1/3;
    grid-row: 3/4;
}
form {
    grid-column:3/4;
    grid-row: 3/4;
    /* Center the form on the page */
    margin: 0 auto;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    /*width: 100px;*/
    text-align: right;
  }
  
  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font:  1.2em 'Open sans';
    margin-top: 30px;
  
    /* Uniform text field size */
    width: 600px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 10em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px;
  /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    background-color:#c0cfa8; 
    color:#6A4C93;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: Coiny,fantasy;
}
.moveDown {
    margin-top: 3em;
}
footer {
    background-color:#8AC926;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}