@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Ubuntu:wght@300&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color:#06422d;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color:#2FEAA8;
}
body {
    background-color: #b1f2ee; 
    font-family:Ubuntu,Helvetica,sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color:#02ffff; 
}
nav a:hover {
    background-color: #2181ca4f;
    color:#028CF3;
}
.book, .join {
    background-color:#9cd3d0; 
    color:#111864;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:#30b0a8; 
    color:#2FEAA8;
}
.msg {
    background-color:#20CBC1;
    line-height: 1.5em;
    padding: 35px; 
}
footer {
    background-color:#02ffff;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #072481fd;
    font-family:"Gochi Hand";
    font-size: 2em;
    margin-top: 10px;
    padding-top: 25px;
}
h4 {
    color:rgb(35, 96, 96);
}
.msg h2 {
    color:#11563ed2;
    font-family:"Gochi Hand";
}
.msg p {
    color:rgb(255, 255, 255);
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color:rgba(46, 53, 53, 0.943);
}
footer a {
    color:#306754d7;
    text-decoration: none;
}
footer a:hover {
    color:#62a28c;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
} 
.card-img {
    border: 10px solid black
}
main section img {
    box-sizing: border-box;
}
.mountains {
    margin: 100px 0;
}